<p id="notice"><%= notice %></p>


<p class="laney">
  <strong>Name:</strong>
  <%= @student.name %>
</p>
<p class="laney">
  <strong>Year:</strong>
  <%= @student.acayear %>
</p>
<p class="laney">
  <strong>Cohort:</strong>
  <%= @student.cohort %>
</p>
<p class="laney">
  <strong>Rating:</strong>
  <%= @student.rating %>
</p>
<p class="laney">
  <strong>Teacher:</strong>
  <%= link_to @student.teacher.name, profile_path(@student.teacher) %>
</p>
<p>
  <%= image_tag @student.avatar.url(:medium) %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> | <%= link_to 'Back', students_path %>